@model City
@{
    ViewData["Title"] = "City not found";
}
<h1>@Model.Name not found!</h1>

<p>You can try one of the following cities:</p>

<p><ul>
    @foreach (var alt in Model.SimilarCities)
    {
        <li><a href="/Weather?cityName=@alt.Name&date=@DateTime.Today.ToString("yyyy-MM-dd")">@alt.Name</a></li>
    }
</ul></p>